<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Tableau de bord Streaming RDC</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
  <div class="admin-container">
    <h1>Tableau de bord Administrateur</h1>
    <div class="admin-cards">
      <div class="admin-card">
        <h2>Utilisateurs</h2>
        <p>Gérer les utilisateurs</p>
        <a href="{{ url_for('list_users') }}" class="btn-admin">Voir les utilisateurs</a>
      </div>
      <div class="admin-card">
        <h2>Commentaires</h2>
        <p>Consulter les messages reçus</p>
        <a href="{{ url_for('liste_commentaires') }}" class="btn-admin">Voir les commentaires</a>
      </div>
      <div class="admin-card">
        <h2>Abonnements</h2>
        <p>Suivre les abonnements actifs</p>
        <a href="{{ url_for('list_abonnements') }}" class="btn-admin">Voir les abonnements</a>
      </div>
      <div class="admin-card">
        <h2>Liste des paiement</h2>
        <p>Voir les paiements</p>
        <a href="{{ url_for('liste_paiement') }}" class="btn-admin">Voir les paiements</a>
      </div>
      <div class="admin-card">
        <h2>Activités</h2>
        <p>Visualiser l'activité du site</p>
        <a href="{{ url_for('list_activite') }}" class="btn-admin">Voir les activité</a>
      </div>
      <div class="admin-card">
        <h2>statut</h2>
        <p>Poster un nouveau film</p>
        <a href="{{ url_for('admin_statut') }}" class="btn-admin">Poster un statut</a>
      </div>
    </div>
    <a href="{{ url_for('accueil') }}" class="btn-retour">Retour au site</a>
    <a href="{{url_for('deconnexion_admin')}}" class="btn-retour">Deconnexion</a>
  </div>
  <footer>
    <p>© 2025 Streaming RDC | Tous droits réservés | Agostinhomelano developement</p>
  </footer>

  
</body>
</html>
