<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/confirmation.css') }}">
</head>
<body>
  <div class="confirmation-container">
  {% if erreur %}
  <h1>{{erreur}}</h1>
  <a href="{{retour}}" class="btn-retour">retour</a>
  <a href="{{ url_for('accueil') }}" class="btn-retour">Retour à l'accueil</a>
  {% else %}
    <h1>{{h1}}</h1>
    <p>{{p1}}<br>
    {{p2}}<p>
    <a href="{{retour}}" class="btn-retour">{{m}}</a>
    <a href="{{ url_for('accueil') }}" class="btn-retour">Retour à l'accueil</a>
  
  
  {% endif%}
</div>
</body>